@import "tailwindcss";

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 12px; /* width of vertical scrollbar */
  height: 12px; /* height of horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #cfe8ed; /* light blue background */
  border-radius: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #495e68; /* bright blue */
  border-radius: 10px;
  border: 3px solid #e0f2fe; /* padding around thumb */
  transition: background-color 0.6s ease;
}

/* Scrollbar Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #37474f; /* darker blue on hover */
}

input[type="number"].remove-arrow::-webkit-inner-spin-button,
input[type="number"].remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].remove-arrow {
  -moz-appearance: textfield; /* Firefox */
}
